<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h1 class="h1-large">Welcome to SSDC Front-end Guild</h1>
                    <p class="p-large">We don’t just build software, we build software companies.</p>
                    <a class="btn-solid-lg" href="https://kms-technology.com/">Explore now</a>
                </div>
            </div> 
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/header-image.png" alt="alternative" />
                </div> 
            </div> 
        </div> 
    </div> 
</header> 