.form-1 {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;

    .text-container {
        margin-bottom: 4rem;
    }

    .section-divider {
        margin-bottom: 1rem;
    }

    h2 {
        margin-bottom: 1.75rem;
    }
    
    .list-unstyled .fas {
        font-size: 0.375rem;
        line-height: 1.625rem;
    }

    .list-unstyled .flex-grow-1 {
        margin-left: 0.5rem;
    }
}
