
<div id="aboutus" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-1.png" alt="alternative" />
                </div> 
            </div> 
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">WHO WE ARE</div>
                    <h2>Code holic guys</h2>
                    <p>We are a group of person whoes passion in coding and exploring new technology, especially in front-end.</p>
                    <a class="btn-solid-reg" href="#contact">Subscribe</a>
                </div> 
            </div> 
        </div>
    </div> 
  </div>
  <div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">WHAT WE DO</div>
                    <h2>We have ten years experience in software development industry</h2>
                    <p>We help our colleagues become better day by day. Improving their coding skill and sharing knowledge about new technology.</p>
                    <a class="btn-outline-reg" href="https://kms-technology.com/">Details</a>
                </div> 
            </div> 
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/details-2.png" alt="alternative" />
                </div> 
            </div> 
        </div>
    </div> 
  </div>