.slider-1 {
	padding-top: 1rem;
	padding-bottom: 1.25rem;
	background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
	text-align: center;

    h4 {
        margin-bottom: 0.25rem;
    }

    .section-divider {
        margin-bottom: 1rem;
    }

    .slider-container {
        margin-bottom: 0.5rem;
        padding: 1rem 0;
    }
}
