@import "../../../assets/css/variables.scss";
.cards-1 {
	padding-top: 6.5rem;
	padding-bottom: 6.5rem;

    h2 {
        margin-bottom: 3.5rem;
    }

    .card {
        margin-bottom: 5rem;
        border: none;
        background-color: transparent;
    }

    .card-icon {
        width: 66px;
        height: 66px;
        margin-bottom: 1.875rem;
        border-radius: 8px;
        background-color: #ddedfb;
        text-align: center;

        .fas,
        .far {
            color: $light-blue-color;
            font-size: 2rem;
            line-height: 66px;
        }
    }

    .card-icon.red {
        background-color: #fbe4e4;
    }

    .card-icon.red .fas,
    .card-icon.red .far {
	    color: #ef473d;
    }

    .card-icon.green {
        background-color: #e0f4ea;
    }

    .card-icon.green .fas,
    .card-icon.green .far {
	    color: #16c66d;
    }
    
    .card-body {
        padding: 0;

        p {
            margin-bottom: 1.125rem;
        }
    }

    .card-title {
        margin-bottom: 1.125rem;
    }

    .read-more {
        color: #223150;

        .fas {
            color: #223150;
        }
    }
}
