<div class="cards-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Our members testimonials</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12">
                
                <div class="card">
                    <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                    <div class="card-body">
                        <img class="member-image mb-2" src="../../../assets/images/trieu.jpg" />
                        <p class="testimonial-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                        <div class="testimonial-author">Trieu Nguyen</div>
                        <div class="occupation">Senior Software Engineer, SSDC</div>
                    </div>
                    <div class="gradient-floor red-to-blue"></div>
                </div>
              
                
                <div class="card">
                    <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                    <div class="card-body">
                        <img class="member-image mb-2" src="../../../assets/images/sang.jpg" />
                        <p class="testimonial-text">Suspendisse vitae enim arcu. Aliqu convallis risus a felis blandit, at mollis nisi bibendum aliquam noto ricos</p>
                        <div class="testimonial-author">Sang Le</div>
                        <div class="occupation">Software Engineer, SSDC</div>
                    </div>
                    <div class="gradient-floor blue-to-purple"></div>
                </div>
              
                
                <div class="card">
                    <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                    <div class="card-body">
                        <img class="member-image mb-2" src="../../../assets/images/a-chanh.jpg" />
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <div class="testimonial-author">Chanh Pham</div>
                        <div class="occupation">Delivery Director, SSDC</div>
                    </div>
                    <div class="gradient-floor purple-to-green"></div>
                </div>
              
                
                
                <div class="card">
                    <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                    <div class="card-body">
                        <img class="member-image mb-2" src="../../../assets/images/tung.jpg" />
                        <p class="testimonial-text">Suspendisse vitae enim arcu. Aliqu convallis risus a felis blandit, at mollis nisi bibendum aliquam noto ricos</p>
                        <div class="testimonial-author">Tung Nguyen</div>
                        <div class="occupation">Senior Software Engineer, SSDC</div>
                    </div>
                    <div class="gradient-floor red-to-blue"></div>
                </div>
              
                
                <div class="card">
                    <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                    <div class="card-body">
                        <img class="member-image mb-2" src="../../../assets/images/cuong.jpg" />
                        <p class="testimonial-text">Suspendisse vitae enim arcu. Aliqu convallis risus a felis blandit, at mollis nisi bibendum aliquam noto ricos</p>
                        <div class="testimonial-author">Cuong Nguyen</div>
                        <div class="occupation">Senior Software Engineer, SSDC</div>
                    </div>
                    <div class="gradient-floor blue-to-purple"></div>
                </div>
              
            </div> 
        </div>
    </div> 
  </div> 